body {
    margin: 0; /* Убираем отступы */
}
.avatar_round img{ /* селектор для картинки, которая "внутри" класса avatar */
    margin:  5%;
    position:relative;
    top: -180px; left: -280px; bottom: 0; right: 0;
    background: #fff; /* Цвет фона */
    padding: 5px 5px 5px 5px; /* Поля вокруг текста */
    width: 150px;
    height: 150px;
    border:1px solid #ddd;
    border-radius: 50%;
    box-shadow: 0 2px 5px #11303d;
}

#tab2, #tab3, #tab4 {position: absolute;  }

.menu1 > a,
.menu1 #tab2:target ~ a:nth-of-type(1),
.menu1 #tab3:target ~ a:nth-of-type(1),
.menu1 #tab4:target ~ a:nth-of-type(1),
.menu1 > div {
    /*width: 400px;*/
    height: 500px;
    border-radius: 0% 4% 4%;
    padding: 5px;
    border: 1px solid #aaa;
}

.menu1 > a { /* убирает линию подчеркивания и перемычку */
    background: #fff;
    text-decoration: none; }
#tab2,
#tab3,
#tab4,

.menu1 > div,
.menu1 #tab2:target ~ div:nth-of-type(1),
.menu1 #tab3:target ~ div:nth-of-type(1),
.menu1 #tab4:target ~ div:nth-of-type(1) {display: none; }


.menu1 > div:nth-of-type(1),
.menu1 #tab2:target ~ div:nth-of-type(2),
.menu1 #tab3:target ~ div:nth-of-type(3),
.menu1 #tab4:target ~ div:nth-of-type(4) { display: block; }


.menu1 > a:nth-of-type(1),
.menu1 #tab2:target ~ a:nth-of-type(2),
.menu1 #tab3:target ~ a:nth-of-type(3),
.menu1 #tab4:target ~ a:nth-of-type(4) { border-bottom: 5px solid #fff; }

form{
    /* width:500px; */
    margin:0 auto;
}
.search {
    padding:6px 15px 6px 30px;
    margin:3px;
    background: url('search.png') no-repeat 8px 6px;
}
.rounded {
    border-radius:15px;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
}
input[type=text]{
    color:#bcbcbc;
}


input[type=button], input[type=button]:hover {
    position:relative;
    left:-6px;
    border:5px solid #adc5cf;
    border-radius:15px
background: #e4f1f9; /* Old browsers */
    background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f1f9), color-stop(100%,#d5e7f3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* IE10+ */
    background: linear-gradient(top, #e4f1f9 0%,#d5e7f3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3',GradientType=0 ); /* IE6-9 */
    color:#7da2aa;
    cursor: pointer;
}
.dark{
    background: url('dark_grey.jpg');
}
.dark input[type=text]{
    border:1px solid #2a2e31;
    background-color:#2d3035;
    color:#505358;
}





