.rating{
    padding: 0;
    margin: 0;
    position:relative;
    text-align: center;
    width:80px;
    height:70px;
}
.rating>span{
    display:block;
    position:absolute;
}

.rating>.label{
    font: normal 22px "Tahoma", "Arial";
    color: #9B9999;
    width: 100%;
    text-align: center;
    top:20px;
}

.rating>.up{
    left:30px;
    top:0px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid green;
    cursor:pointer;
    opacity: 0.5;
}

.rating>.down{
    left:30px;
    top:50px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid red;
    cursor:pointer;
    opacity: 0.5;
}

.rating>.up:hover, .rating>.down:hover, .rating.up>.up, .rating.down>.down{
    opacity: 1;
}


.avatar_round{
    margin-bottom: -230px;
}

#post_create_form input[name="title"]{
    width: 99%;
    margin-bottom: 20px;
}

#post_create_form input[type="submit"]{
    width: 100%;
}

#post_create_form textarea{
    height:300px;
}
