.article{

}

.article .post-data{

}

.article .post-data .date{

}
.article div.content{
border:0;
}

.article .rating{
display: inline-block;
margin-bottom: -30px;
}

.article h2{
    display: inline-block;
    height: 35px;
}